<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiodonto-f7gmcyaqdsd4crej.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>44af6fa1-03cb-4713-bc2b-7452d39e0186</ProjectGuid>
    <PublishUrl>https://apiodonto-f7gmcyaqdsd4crej.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$ApiOdonto</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>